/*-- scss:rules --*/
/* math font size

.math {
  font-size: 85%;
}

/* example float div formatting */
.example,
figure.quarto-float-exa {
  padding-left: 1em;
}
.example > figure > div,
figure.quarto-float-exa > figure > div {
  text-align: left;
}

/* formatting of labeled list items */
ul:has(.li-label) {
  margin-left: 1em;
}

li:has(.li-label) {
  list-style: none;
  position: relative;
  text-indent: -2em;
}

.li-label {
  margin-right: 0.5em;
}

/* argument formatting */
figure.quarto-float-arg,
figure.quarto-float-exa,
.definition,
.callout {
  text-align: left;
  border: thin solid lightgray;
  border-radius: 0.5em;
  padding: 0.5em 0.5em 0 0.5em;
  margin-bottom: 1em;
}
figure.quarto-float-arg figcaption,
figure.quarto-float-arg .theorem-title,
figure.quarto-float-exa figcaption,
figure.quarto-float-exa .theorem-title,
.definition figcaption,
.definition .theorem-title,
.callout figcaption,
.callout .theorem-title {
  display: block;
  margin-bottom: -1em;
  padding-right: 2em;
  text-align: right;
  font-size: 0.8em;
}
figure.quarto-float-arg > div,
figure.quarto-float-exa > div,
.definition > div,
.callout > div {
  text-align: left;
}
figure.quarto-float-arg > div > ul, figure.quarto-float-arg > div > ol,
figure.quarto-float-exa > div > ul,
figure.quarto-float-exa > div > ol,
.definition > div > ul,
.definition > div > ol,
.callout > div > ul,
.callout > div > ol {
  padding-left: 2em;
  text-align: left;
}
figure.quarto-float-arg > p,
figure.quarto-float-exa > p,
.definition > p,
.callout > p {
  margin-bottom: 0;
}
figure.quarto-float-arg li:has(.li-label),
figure.quarto-float-exa li:has(.li-label),
.definition li:has(.li-label),
.callout li:has(.li-label) {
  list-style: none;
  position: relative;
  text-indent: -2em;
}
figure.quarto-float-arg .li-label,
figure.quarto-float-exa .li-label,
.definition .li-label,
.callout .li-label {
  margin-right: 0.5em;
}
figure.quarto-float-arg ul > li,
figure.quarto-float-exa ul > li,
.definition ul > li,
.callout ul > li {
  list-style: none;
}
figure.quarto-float-arg dl,
figure.quarto-float-exa dl,
.definition dl,
.callout dl {
  padding-left: 1em;
}

/* thesis formatting */
.thesis {
  font-size: 0.9rem;
}
.thesis li {
  list-style: none;
  padding-left: 1em;
  text-indent: -2em;
}
.thesis dl {
  padding-left: 1em;
}

/* caption formatting */
figcaption {
  font-size: inherit;
}

/* Chapter title formatting */
#title-block-header {
  padding-bottom: 5em;
  border-bottom: thin solid;
}

.quarto-title .chapter-number {
  display: block;
  text-align: center;
  font-size: smaller;
}
.quarto-title .chapter-number::before {
  content: "Chapter ";
  font-variant: small-caps;
}

.quarto-title .chapter-title {
  display: block;
  text-align: center;
}

.authorial-intent {
  padding: 1em;
  margin-bottom: 3em;
}

/* accessibility tweaks */
/* don't just use color to indicate to links */
main a {
  text-decoration: underline !important;
}

/* don't dim blockquotes, figcaptions */
.blockquote,
figcaption {
  color: inherit;
}

/* print tweaks */
/* don't print header and footer */
@media print {
  body {
    margin: 0;
  }
  #quarto-content {
    display: block;
  }
  #quarto-header {
    display: none;
  }
  footer {
    display: none;
  }
}
@page {
  margin: 1in;
}

/*# sourceMappingURL=epub.css.map */
